<style>
    div, select, option {
        font: bold 15px Verdana;
    }
    div {
        margin: 10px 0;
    }
    #status {
        color: brown;
    }
    #code {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 2px 4px;
        background: #ffd;
        font: bold 14px consolas;
    }
</style>